.ui-widget {
	font-size: 90%;
}

#header {
	text-align: center;
	background-color: lightblue;
}

#content {
	position: relative;
}

#footer {
	height: 30px;
	font: arial;
	position: fixed;
	bottom: 20px;
}

.outerpanelgrid>tbody>tr {
	border: none;
}

.outerpanelgrid>tbody>tr>td {
	border: none !important;
}
